In [1]:
import sqlite3
import pandas as pd
import seaborn as sns

conn = sqlite3.connect(':memory:')

# creating a cursor object
cur = conn.cursor()

# Call the dbListTables() function
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()

In [3]:
# Read Training dataset as well as drop the index column
training_data = pd.read_csv('./cs-training.csv').drop('Unnamed: 0', axis = 1)


# For each column heading we replace "-" and convert the heading in lowercase 
cleancolumn = []
for i in range(len(training_data.columns)):
    cleancolumn.append(training_data.columns[i].replace('-', '').lower())
training_data.columns = cleancolumn

In [32]:
training_data.head()

,seriousdlqin2yrs,revolvingutilizationofunsecuredlines,age,numberoftime3059dayspastduenotworse,debtratio,monthlyincome,numberofopencreditlinesandloans,numberoftimes90dayslate,numberrealestateloansorlines,numberoftime6089dayspastduenotworse,numberofdependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [4]:
# Convert the DataFrame to an SQL database table
training_data.to_sql('data', conn, if_exists='replace')

150000

## Question 1: People have no dependents, which is single, they might have less financial responsibility to afford the household. Therefore, their debtratio would be less.

In [5]:
query = """
SELECT
  numberofdependents AS "NumberOfDependents",
  debtratio AS "DebtRatio"
FROM
  data
WHERE
  numberofdependents = 0
ORDER BY
  debtratio DESC;
"""

# Execute the query and load the result into a new DataFrame
filtered_sorted_df = pd.read_sql_query(query, conn)

# Display the resulting DataFrame
print(filtered_sorted_df)

       NumberOfDependents  DebtRatio
0                     0.0   329664.0
1                     0.0   326442.0
2                     0.0   110952.0
3                     0.0   101320.0
4                     0.0    61907.0
...                   ...        ...
86897                 0.0        0.0
86898                 0.0        0.0
86899                 0.0        0.0
86900                 0.0        0.0
86901                 0.0        0.0

[86902 rows x 2 columns]

## Question 2 : What is the monthly income of the people aged between 30 and 45

In [31]:
query = """
SELECT
  monthlyincome AS "MonthlyIncome"
FROM
  data
WHERE
  age BETWEEN 30 AND 45;
"""

# Execute the query and load the result into a new DataFrame
monthly_income_df = pd.read_sql_query(query, conn)

# Display the resulting DataFrame
print(monthly_income_df)

       MonthlyIncome
0             9120.0
1             2600.0
2             3042.0
3             3300.0
4             3500.0
...              ...
42479         6849.0
42480         2760.0
42481         7515.0
42482         5584.0
42483         5716.0

[42484 rows x 1 columns]